
.month_year{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.m_y{
    display: flex;
    gap: 10px;
}
.mm_yy{
    width: 80px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid var(--Light-Grey, #DFDEE0);
    background: var(--White, #FFF);
    color: var(--Deep-Violet, #21092F);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.error_date_border{
    border-radius: 8px;
    border: 1px solid var(--Red, #FF5050);
    background: var(--White, #FFF);
}
.mm_yy:focus{
    border-radius: 8px;
    border: 1px solid var(--Gradient, #6348FE);
    background: var(--White, #FFF);
    outline: none;
}
.exp_m_y{
    color: var(--Deep-Violet, #21092F);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Space Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@media (max-width:678px) {
    .mm_yy{
        width: 72px;
        height: 45px;
        
    }
}